{% extends "blog/base.html" %}

{% block content-det %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}


<div class="form-title">
    <h2>
        Sign in to your account.
    </h2>
</div>
<form id="user-form" method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>

    <td id="label-form-login">
        {{ form.username.label_tag }}<br />
        {{ form.username }}
    </td>
</tr>
<tr>
    <td id="label-form-login">
        {{ form.password.label_tag }}<br />
        {{ form.password }}
    </td>
</tr>
</table>

<input id="user-btn" type="submit" value="login" />
<input id="user-btn" type="hidden" name="next" value="{{ next }}" />
</form>
<p style="text-align: center;">
    <small>Not yet a member? Register <a href="{% url 'register' %}">here</a>.</small>
</p>

{% endblock %}