{% extends "blog/base.html" %}

{% block content-det %}
<div class="form-error">
{% if form.errors %}
    <p>Please complete the form.</p>
{% endif %}
</div>
<div class="form-title">
    <h2>
        Registration is free! Please sign up.
    </h2>
</div>
<form id="user-form" method="post" action="">
    {% csrf_token %}
    <table>
        <tr>
            <td id="label-form-login">
                {{ form.email.label_tag }}<br />
                {{ form.email }}
            </td>
        </tr>
        <tr>
            <td id="label-form-login">
                {{ form.email2.label_tag }}<br />
                {{ form.email2 }}
            </td>
        </tr>
        <tr>
            <td id="label-form-login">
                {{ form.username.label_tag }}<br />
                {{ form.username }}
            </td>
        </tr>
        <tr>
            <td id="label-form-login">
                {{ form.password.label_tag }}<br />
                {{ form.password }}
            </td>
        </tr>
    </table>
    <!--{{ form.as_p }}-->
    <input id="user-btn" type="submit" value="Create new user account" />
</form>

{% endblock %}