{% load staticfiles %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
        <!--link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700" rel="stylesheet"-->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="auth-area">
            <div class="wrap">
                <p class="main-logo"><a href="{% url 'blog.views.post_list' %}">
                    <img id="logo" src="http://www.chipining.com/media/chipining_logo.svg" /> chipining</a></p>
                {% if user.is_authenticated %}
                <p class="auth-menu">Hello, {{ user.username }}<small> (<a href="{% url 'logout' %}">Log out</a>)</small></p>
                {% else %}
                <a href="{% url 'login' %}" class="auth-menu"><span class="glyphicon glyphicon-lock"></span></a>
                {% endif %}
            </div>
        </div>


        <div class="page-header">
            <h1><a href="{% url 'blog.views.post_list' %}">&nbsp;</a></h1>
        </div>
        <div class="wrap-content">

            <div class="edit-but">
                {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>

                {% else %}
                <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
                {% endif %}
            </div>
            <div class="content2">
                <p id="intro">
                    Welcome to Chipining! Check out the latest blogs and stories!
                </p>
                <div class="row">
                    <div class="col-md-8">
                        {% block content-det %}
                        {% endblock %}
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-8">
                        {% block content %}
                        {% endblock %}
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="row">
                    <div class="col-md-8">
                        {% block pagination %}
                        {% endblock %}
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="page-footer">
            <p id="copyr">
                Designed by Mordechai © {% now "Y" %}
                <br />
                Powered by Python and Django
            </p>
        </div>
        <!-- GA script -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-87356624-1', 'auto');
            ga('send', 'pageview');
        </script>
        <!-- End GA script -->
    </body>
</html>