{% extends 'blog/base.html' %}

{% block content-det %}
    <div class="post" id="post-det">
        {% if user.is_authenticated and post.author == user %}

            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}" onclick="return confirm('Are you sure you want to delete this? Your post will be deleted forever.')"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        {% if post.image%}
            <img src="{{ post.image.url }}" class="img-responsive" />
        {% endif %}
        <h4>{% block title %}{{ post.title }}{% endblock %}</h4>
        {% if post.published_date %}
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <div class="addthis_inline_share_toolbox"></div>
        <div class="date">
            by {{ post.author.username|title }}<br />
            {{ post.published_date|date:"d M, Y" }}
        </div>
        <p>{{ post.text|linebreaksbr|urlize }}</p>

        {% else %}
            {% if user.is_authenticated and post.author == user %}
                <a class="btn btn-default" href="{% url 'blog.views.post_publish' pk=post.pk %}">Publish</a>
            {% endif %}
        {% endif %}
    </div>
    <hr>
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
    {% for comment in post.comments.all %}
    {% if user.is_authenticated and post.author == user or comment.approved_comment %}
    <div class="comment">
        <div class="date">
            {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
            {% endif %}
        </div>
        From: <strong>{{ comment.author.username|title }}</strong> |
        <small>{{ comment.created_date }}</small>
        <p>{{ comment.text|linebreaks }}</p>
        <hr />
    </div>
    {% endif %}
    {% empty %}
    <p>No comments here yet :(</p>
    {% endfor %}
{% endblock %}