body {
    font-family: 'Raleway';
}

.wrap {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}

.page-header {
    background-color: #907249;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    padding-top: 30px;
}

.content {
    margin: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4 {
    font-family: 'Raleway';
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #cccccc;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    padding: 20px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
}

@media (min-width: 992px){
    .col-md-8 {
        width: 100%;
    }
}



@media (min-width: 580px) {
    .post {
        margin-right: 10px;
        display: inline-block;
        width: 45%;
        height: 0;
        padding-bottom: 40%;
        vertical-align: top;
    }
    .post#post-det {
        width: 100% !important;
        height: inherit;
        padding-bottom: 30px;
    }

}

@media (min-width: 768px) {
    .post {
        margin-right: 10px;
        display: inline-block;
        width: 30%;
        height: 0;
        padding-bottom: 40%;
        vertical-align: top;
    }
    .post#post-det {
        width: 100% !important;
        height: inherit;
        padding-bottom: 30px;
    }
}


.post h4 a, .post h4 a:visited {
    color: #333333;
}

p.top-menu, p.top-menu:hover {
    font-size: 13px;
    font-family: 'Raleway';
    text-transform: uppercase;
}

.auth-area {
    padding: 10px 20px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #333333;
    text-align: right;
    font-size: 11px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

p.main-logo {
    text-align: left;
    float: left;
    letter-spacing: 2px;
    font-weight: lighter;
}

p.main-logo a {
    color: #ffffff;
}

.edit-but {
    padding: 20px;
    height: 100px;
    border-top: 1px dotted #eeeeee;
    border-bottom: 1px dotted #eeeeee;
    margin-bottom: 20px;
}

.comment {
    margin: 20px 0px 20px 20px;
}

a#blog-com {
    border: 1px dotted #ccc;
    padding: 5px;
    text-decoration: none;
    background-color: #eeeeee;
    color: #333333;
}

a#blog-com:hover {

    background-color: #cccccc;
    color: #ffffff;
}