body {
    font-family: 'Roboto', sans-serif;
}

img#logo {
    width: 25px;
}

/* Form Styling */

.form-error {
    text-align: center;
    color: red;
}
.form-title {
    text-align: center;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
form#user-form {
    text-align: center;
    background-color: #ddd;
    padding: 30px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 2px 2px 2px #eeeeee;

}

form table {
    background-color: transparent;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


table tr td#label-form-login label {
    font-weight: lighter !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
}

input#id_email, input#id_email2, input#id_username, input#id_password, input#search {
    /*margin-left: 20px;*/
    border: none;
    border-radius: 0;
    box-shadow: none !important;
    -webkit-appearance: none;
    width: 100%;
    height: 30px;
}


textarea#id_text, input#id_title {
    border: 1px solid #cccccc;
    border-radius: 0;
    box-shadow: none !important;
    -webkit-appearance: none;
    width: 100%;
}


input[type="submit"]#user-btn {
    margin-top: 30px;
    background-color: #64bcd0;
    background-image: none;
    border-radius: 0;
    border: none;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 80%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}




input[type="submit"], a.btn.btn-default, button.save.btn.btn-default {
    margin-top: 10px;
    background-color: #64bcd0;
    background-image: none;
    border-radius: 0;
    border: none;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 80%;

}

input[type="submit"]:hover {
    background-color: #49a6bb;
}


.post-form textarea, .post-form input {
    width: 100%;
}

/* End From Styling */

.wrap {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}

.wrap-content {
    background-color: #f9f7f7;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}

.page-header {
    background-color: #d96a4f;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    padding-top: 30px;
}

.content {
    margin: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.content2 {
    margin: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-top: 20px;
}

.date {
    color: #828282;
    margin-bottom: 10px !important;
}

.save {
    float: right;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #cccccc;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    background-color: #ffffff;
    padding: 20px 20px 40px 20px;
    /* border: 1px solid #cccccc; */
    box-shadow: 1px 2px 2px 2px #eeeeee;
    margin-bottom: 20px;
    width: 100%;
}



@media (min-width: 992px){
    .col-md-8 {
        width: 100%;
    }
}



@media (min-width: 580px) {
    .post {
        margin-right: 10px;
        display: inline-block;
        height: inherit;
        vertical-align: top;
    }
    .post#post-det {
        width: 100% !important;
        height: inherit;
        padding-bottom: 30px;
    }
    .content {
        column-count: 2;
        column-width: 300px;
    }

}

@media (min-width: 768px) {
    .post {
        margin-right: 10px;
        display: inline-block;
        height: inherit;
        vertical-align: top;
    }
    .post#post-det {
        width: 100% !important;
        height: inherit;
        padding-bottom: 30px;
    }

}


.post h4 a, .post h4 a:visited {
    color: #d96a4f;
    font-weight: 600;
}

p.top-menu, p.top-menu:hover {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.auth-area {
    padding: 10px 20px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #000000;
    text-align: right;
    font-size: 11px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

p.main-logo {
    text-align: left;
    float: left;
    letter-spacing: 2px;
    font-weight: lighter;
}

p.main-logo a {
    color: #ffffff;
    font-size: 150%;
    font-weight: 500;
}

p.main-logo a:hover {
    text-decoration: none;
}

.edit-but {
    padding: 20px;
    height: 100px;
    border-top: 1px dotted #eeeeee;
    border-bottom: 1px dotted #eeeeee;
    margin-bottom: 20px;
}

.comment {
    margin: 20px 0px 20px 20px;
}

a#blog-com {
    border: 1px dotted #ccc;
    padding: 5px;
    text-decoration: none;
    /*background-color: #eeeeee;*/
    color: #333333;
}

a#blog-com:hover {

    background-color: #cccccc;
    color: #ffffff;
}

/* ADDITIONAL STYLING */


.page-footer {
    text-align: center;
    text-transform: uppercase;
    font-size: 70%;
    letter-spacing: 2px;
    padding: 20px;
    background-color: #eeeeee;
    border-top: 1px solid #cccccc;
}

p#intro {
    text-align: justify;
    /*padding-left: 20px;*/
    padding-right: 20px;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-bottom: 5px;
}
